<header class="topbar">

  <a class="logo" routerLink="/">
    QUEST
  </a>

  <nav class="navigation">
    <a routerLink="/quests">
      Quests
    </a>

    <a routerLink="/explore">
      Explore
    </a>

    <a routerLink="/leaderboard">
      Leaderboard
    </a>
  </nav>

  <div class="actions">
    <button>Notifications</button>
    <button>Profile</button>


  <button type="button" (click)="toggle()">Register / Login</button>
  </div>

@if (isOpen()) {
  <div class="modal-overlay" (click)="toggle()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <app-union-auth></app-union-auth>
    </div>
  </div>
}

</header>